[user]
	name = Ry2X
  email = 45420571+ry2x@users.noreply.github.com

[core]
  editor = nvim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
