@import url('file://$HOME/.cache/wal/colors.css');

window {
  background: #0a0a0a;
}

* {
  font-family: 'JetBrains Mono';
  color: @foreground;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: @color0;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}
